.page__home {
  .logo {
    width: 600px;
    max-width: 80%;
    animation: shake 3s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .page__text {
    font-size: 1rem !important;
    letter-spacing: .3em;
  }

  @keyframes shake {
    2%, 18% {
      transform: translate3d(-3px, 0, 0) rotate(0);
    }

    4%, 16% {
      transform: translate3d(5px, -6px, 0) rotate(2deg);
    }

    6%, 10%, 14% {
      transform: translate3d(-10px, 0, 0) rotate(-2deg);
    }

    8%, 12% {
      transform: translate3d(8px, 5px, 0) rotate(0);
    }

    100% {
      transform: translate3d(0, 0, 0) rotate(0);
    }
  }
}
