.page__live {
  .countdown {
    bottom: 200px !important;
    font-size: 10rem !important;
    margin-bottom: 0 !important;
    position: absolute !important;
    //align-self: center;
    //justify-self: flex-end;
    //margin-top: 200px;
  }
}
