.page__share {
  align-self: center;
  justify-self: center;

  .page__text {

  }

  .link {
    display: block;
    width: 80%;
    margin: 2.5rem auto 0;
    font-size: 2rem;
    line-height: 1.3;
  }
}
