@import 'tools/reset';
@import 'tools/font';
@import 'components/asciimaton-output';
@import 'components/modal';
@import 'components/webcam';
@import 'pages/home';
@import 'pages/live';
@import 'pages/print';
@import 'pages/share';
@import 'pages/still';

html {
  font-size: 14px;
  letter-spacing: .2em;
}

body {
  background-color: black;
  color: #00ff00;
  font-family: "Karmatic Arcade", monospace;
  overflow: hidden;
}

.debugbar {
  background-color: rgb(0, 255, 0);
  bottom: 0;
  color: black;
  position: fixed;
  right: 0;

  &__nav {
    a {
      display: inline-block;
      padding: 5px 10px;
    }
  }
}

main {
  height: 100vh;
  width: 100vw;
}

.page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  .page__text {
    font-size: 6rem;
    padding: 0 2rem;
    align-self: center;
    justify-self: center;
    //margin-bottom: 200px;
    position: relative;
    text-align: center;
  }
}
